


<!--
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li><a href="#">Action</a></li>
      <li><a href="#">Thriller</a></li>
      <li><a href="#">Suspense</a></li>
    </ul>
  </div>

</div>
-->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Genre</h3>
  </div>
  <div class="panel-body">

    <a href="#!/books/genre/Action">Action</a>
    |
    <a href="#!/books/genre/Literature">Literature</a>
    |
    <a ng-href="#!/books/genre/Fiction">Fiction</a>
    |
    <a href="#!/books/genre/Romance">Romance</a>
    |
    <a href="#!/books/genre/Crime">Crime</a>
    |
    <a href="#!/books/genre/Mystry">Mystry</a>
    |
    <a href="#!/books/genre/Thriller">Thriller</a>
    |
    <a href="#!/books/genre/Horror">Horror</a>
    |
    <a href="#!/books/genre/Science Fiction">Science Fiction</a>
    |
    <a href="#!/books/genre/Spy Thriller">Spy Thriller</a>
    |
    <a href="#!/books/genre/Humor">Humor</a>
    |
    <a href="#!/books/genre/Business">Business</a>
    |
    <a href="#!/books/genre/Fantasy">Fantasy</a>
    |
    <a href="#!/books/genre/Management">Management</a>
    |
    <a href="#!/books/genre/Philosophy">Philosophy</a>



  </div>
</div>




<div class="panel panel-default" ng-init="getBooksByGenre(genre)">
  <div class="panel-heading">
    <h3 class="panel-title">{{genre}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="book in books">
        <div class="col-md-6">
          <div class="col-md-6">
              <h4>{{book.title}}</h4>
<!--              <p>{{book.description}}</p> -->
              <div id="para-text">
                {{book.description}}
              </div>
              <p>
                
              </p>
               <a class="btn btn-primary" ng-href="#!/books/details/{{book._id}}">View details</a>

          </div>
          <div class="col-md-6">
<!--            {{book.title}} -->
            <img class="thumbnail" src="{{book.image}}"/>
          </div>
        </div>
      </div>
    </div>


    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </nav>



  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recommendations</h3>
  </div>
  <div class="panel-body">
    <p>
      recommendation books here </p>
  </div>
</div>









<!--
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li><a href="#">Action</a></li>
          <li><a href="#">Thriller</a></li>
          <li><a href="#">Suspense</a></li>
        </ul>
      </div>

    </div>
  </div>





  <div class="border col-lg-9" ng-init="getBooks()">
    <div class="row">
      <div ng-repeat="book in books">
        <div class="col-md-4">
          <img src="{{book.image}}" height="200" width="100" style="border:5px solid black"/>
          <h4>{{book.title}}</h4>
        </div>
  </div>
</div>
</div>






</div>
-->






<!--

<div class="panel panel-default" ng-init="getBooks()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Books</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="book in books">
        <div class="col-lg-6">
          <div class="col-lg-6">
            <h4>{{book.title}}</h4>
            <p>
              Genre : {{book.genre}}
            </p>
          </div>
          <div class="col-md-6">
            <img src="{{book.image}}" />

          </div>
        </div>
      </div>

      </div>
    </div>
</div>
-->
